/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

/* Root variables */
:root {
  --navlicol: #7d7de3;
  --favcol: #6005ac;
  --colchng: rgb(0, 0, 0);
  --drk: #222222;
  --navlihov: linear-gradient(45deg, black, indigo, rgb(188, 94, 188));
}

/* Navbar styling */
#navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 62px;
  align-content: center;
  padding: 18px;
}

nav{
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000; 
  width: 100vw;
  box-shadow: -1px -4px 20px 0px;
}


/* Styling for nav links */
.navli {
  font-size: 19px;
  font-weight: bold;
  font-family: "Itim";
}

/* Styling for logo */
#logo {
  font-size: 20px;
  font-weight: bold;
  font-family: "Josefin Sans";
  animation: animation 3s alternate-reverse infinite;
  animation-delay: 0.5s;
}


@keyframes animation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(25px);
  }
}

.logo {
  color: whitesmoke;
  /* animation: logomove 2s 1s ease-in-out infinite; */
  position: relative;
  left:10px;
  text-decoration: none;
}

/* Dark mode styling */


/* Styling for nav links */
.navlinks {
  text-decoration: none;
  color: whitesmoke;
  border: none;
  padding: 5px 15px;
}

.navlinks:hover {
  color: #000000;
  border-radius: 25px;
  background-color: white;
  font-weight: bolder;
}

/* Dark mode button */
/* #dark1 {
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: bold;
  border: 2px solid whitesmoke;
  padding: 6px 12px;
  border-radius: 25px;
  background-color: #000000;
} */

/* #dark1:hover {
  color: #000000;
  background-color: white;
  font-weight: bolder;
} */
.icon{
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  margin: 2px;
  border: none;
  filter: brightness(50%);
}
.icon:nth-child(2){
  filter: brightness(50%);
}
#about-head{
  display: inline;
    position: relative;
    bottom: 265px;
    padding: 5px;
    align-items: center;
    left: 35%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    box-shadow: 0px 3px 0px 0px rgb(255 255 255 / 55%);
    border: none;
    border-radius: 5px;
}
#drkbtn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 25px;
  background-size: 300% 300%;
  background-image: linear-gradient(
      45deg,
       black, indigo, rgb(188, 94, 188)
  );
  font-family: "poppins";
  
  animation: rainbow 5s ease-in infinite;
  cursor: pointer;
  position: relative;
  right: 20px;
  filter: drop-shadow(3.5px 1.7px 15px rgba(255, 255, 255, 0.6));
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
#drkbtn:hover{

  background: linear-gradient(
      45deg,
       black, indigo, rgb(188, 94, 188)
  );
}
/* .icon:hover{
  border-radius: 60px;
} */
.icon:nth-child(4):hover{
  color: rgb(255, 255, 255);
  background-color: #000;
  filter: brightness(100%);
}
.icon:nth-child(2):hover{
  color: #0A66C2;
  background-color: #000;
  filter: brightness(100%);
}
.icon:nth-child(3):hover{
  filter: brightness(250%);
  color: white;
}




.home-heading {
  font-family: 'Amita', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* Hides the text that overflows */
  /* border-right: 4px solid; */
  /* Cursor effect */
  animation: blink .75s step-end infinite;
  display: inline-block;
  position: relative;
  left: 560px;
  top: 90px;
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(0, 0, 0);
  }
}


#Home {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
#About {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  font-family: "poppins";
}

#prpic {
  border: none;
  height: 225px;
  width: 225px;
  display: flex;
  transform: translateX(275%);
  position: absolute;
  top: 320px;
  border-radius: 115px;
  filter: brightness(0.85);
}

.name-heading {
  font-family: 'Amita', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* Hides the text that overflows */


  position: absolute;

  left: 490px;
  top: 550px;
  text-decoration: none;
  /* animation: 
        type 5s steps(14) infinite,
        cursor .4s step-end infinite alternate-reverse; */
}

@keyframes cursor {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: fit-content;
  }
}
/* about section */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #000000;
}

.about-content {
  display: flex;
  max-width: 1100px;
  padding: 30px;
  background: #000000;
  box-shadow: 0 10px 30px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 50px;
  position: relative;
  right:50px;
  border-radius:15px;
  filter: brightness(95%);

}

.profile-pic {
  width: 300px;
  height: 290px;
  border-radius: 200px;
  filter: grayscale(100%);
  /* box-shadow: -1px 1px 13px 1px rgb(212 211 211 / 50%); */
  background-color: #0a0a0a;
transition: box-shadow 0.3s ease; 
}
.profile-pic:hover{
  box-shadow: 0px 0px 1px 2px rgb(255 255 255), 0px 0px 0px rgb(255 255 255);
    filter: brightness(0.75);
}
#prpic:hover{
  box-shadow: 0px 0px 1px 4px rgb(255 255 255), 0px 0px 0px rgb(255 255 255);
    filter: blur(1.5px)
}


.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-family: 'Itim', serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}

.text-content p {
  font-family: 'amita', sans-serif;
  font-size: 18px;
  color: beige;
  line-height: 1.6;
}

/* Responsive settings */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    width: 100%;
    max-width: 400px;
  }

  .text-content {
    text-align: center;
  }
}
#Projects{
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
#Skill{
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
.wrapper {
  color: var(--colchng);
  background-color: rgb(255, 251, 251);
  width: 250px;
  height: 150px;
  display: inline-grid;
  border: none;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  box-shadow: -2px -2px 20px 1.5px;
}
.container{
  display: grid ;
  column-gap: 50px;
  justify-content: center;
  position: relative;
  top:25%;
}
#item1{
  grid-column: 1;
}
#item2{
  grid-column: 2;
}
#item3{
  grid-column: 3;
}
#item4{
  grid-column: 4;
}
#item5{
  grid-row: 3;
  grid-column: 1;
}
#item6{
  grid-row: 3;
  grid-column: 2;
}
#item7{
  grid-row: 3;
  grid-column: 3;
}
.fa-code, .fa-python, .devicon-cplusplus-plain, .devicon-c-plain, .devicon-react-original, .devicon-nextjs-original-wordmark, .fa-stack-overflow{
  font-weight: bold;
    
    border: none;
    color: rgb(255, 251, 251);
    border-radius: 50px;
    background-color: var(--colchng);
    width: 40px;
    height: 40px;
    position: relative;
    align-self: center;
    text-align: center;
    top: 22px;
    left: 41%;
    align-content: center;
}
.wrapper:hover{
  background-color: var(--colchng);
  color: var(--favcol);
}
.codeicon{
  font-weight: bold;
}

.wrapper:hover .codeicon {
  color: var(--colchng); /* Change icon color to white */
  background-color: rgb(227, 227, 227) /* Change icon background */
}

#Skills{
  display: inline;
    position: relative;
    top: 100px;
    padding: 5px;
    align-items: center;
    left: 48%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    box-shadow: -1px 1px 1px 0px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}
#mast{
  display: inline;
  position: relative;
  top: 255px;
  padding: 5px;
  align-items: center;
  left: 45.5%;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Josefin Sans';
  box-shadow: -1px 1px 1px 0px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}
#mastering{
  position: relative;
  top: 46%;
}
#mast:hover{
  color: #5b63b7;
}
#Skills:hover{
  color: #5b63b7;
}
/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #drkbtn:hover #rotateicon {
  animation: rotate 1s ease-in-out infinite; /* Rotation on hover
} */ 